#calculator{
    border: 2px solid black;
    border-radius: 5px;
    width: 200px;
    height: 394px;
}
#display{
    width: 170px;
    height: 40px;
    margin: 12px;
    font-size: 15px;
}
.button-container{
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.button{
    margin: 5px;
    height: 40px;
    width: 40px;
    border-radius: 2px;
}
